body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  color: #424242;
  font-size: 16px;
  line-height: 1.2em;
}

main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5 {
  margin: 0; 
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.space-between {
  justify-content: space-between;
}

/*
 *
 * Header
 *
 */

.header {
  min-height: 56px;
}

.header-right {
  text-align: right;
}

.header-inner, .footer-inner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.header-inner {
  border-bottom: solid #7d97ad;
}

.header-logo {
  height: 72px;
  margin-left: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

.header-title, .header-subtitle {
  font-weight: 300;
  text-transform: uppercase; 
  margin: 10px 5px;
  display: block;
  color: #2d3c49;
  line-height: 1em;
}

.header-title {
  font-size: 3em;
}

.header-subtitle {
  font-size: 1.5em;
}

/*
 *
 * Hero
 *
 */ 

.hero {
  width: 100%;
  position: relative;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  min-height: 300px;
}

/* 
 * Featured work
 */

.featured-work {
  width: 100%;
  margin-top: 1.5em;
}

.work-container {
  margin-top: 1.5em;
}

.work-item {
  width: 270px;
  height: 270px;
  cursor: pointer;
}

.item-top {
  height: 60%;
  overflow: hidden;
}

.item-img {
  width: 100%;
}

.item-bottom {
  height: 40%;
  padding-top: 1em;
}

.section-title {
  font-weight: 500;
  font-size: 2em;
  color: #7d97ad;
}

.project-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
}

.project-url {
  margin-top: 8px;
  text-align: center;
  font-size: 0.75em;
}

/*
 *
 * Footer
 *
 */

.footer-inner {
  border-top: 1px solid #E0E0E0;
  padding-top: 1.5em;
}

footer li {
  display: inline-block;
  margin: 0 1em;
}

footer a {
  text-decoration: none;
  color: #333;
  padding: 1.5em;
}

