
@media screen and (max-width: 650px) {
  .header-inner {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .header-logo {
    height: 54px;
  }

  .header-right {
    width: 80%;
  }

  .header-title {
    font-size: 2em;
  }
  
  .header-subtitle {
    font-size: 1em;
  }

  .hero {
    width: 100%;
    min-height: 200px;
  }

  .content {
    width: 80%;
    margin: 20px auto 0px auto;
  }

  .work-item {
    width: 100%;
    height: auto;
  }

  .project-url {
    margin-top: 8px;
    text-align: center;
    font-size: 0.65em;
  }

  footer li {
    width: 100%;
    margin: 20px auto;
  }
}

@media screen and (min-width: 651px) and (max-width: 1000px) {
  main, .header-inner, .footer-inner, .content {
    width: 600px;
    margin: 20px auto 0px auto;
  }
}

@media screen and (min-width: 1001px) {
  main, .header-inner, .footer-inner, .content {
    width: 900px;
    margin: 30px auto 0px auto;
  }
}

